html { 
  background-color: #fafafa;
/*    background: url(images/galaxy.jpg) no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: 'Lato', sans-serif;
}

#main {
    padding-top: 20px;
    padding-bottom: 30px;
}

/*#header .col-lg-8, #header .col-md-8 {
   padding-left: 0px !important;
}*/


/* navbar */
.navbar-collapse {
    padding-left: 0px !important;
}

.navbar-default .navbar-nav > li > a {
    color: #DFE2DB;
/*    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;*/
    border: none;
    border-radius: 0px;
    text-align: center !important;
    font-size: 0.6em !important;
    font-weight: 300;
}

.navbar-brand {
    color: #fafafa !important;
    font-weight: 600;
    font-size: 1.5em;
}

.navbar {
    border: none;
    border-radius: 0px;
    font-size: 2em;
    background-color:  #191919;
    color:  #fafafa !important;
    font-weight: 200;
    padding: 10px 0px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #FFF056;
    color: #333;
    border-radius: 0px;
}

.navbar-default .navbar-nav > li > a:hover {
    background-color: #FFF056;
    color: #333;
    border-radius: 0px;
    cursor: pointer;
}

.navbar > .container-fluid .navbar-brand {
    margin: 0px;
}

.navitem {
    margin: 0 5px 0 5px;
}
/* general content styling */
.dtr-content h3 {
    color: #333;    
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: 1px solid #333;
}

.dtr-content ul {
    color: #333;    
    list-style-type: none;
    font-size: 1.1em;
}

.dtr-content li {
    margin-bottom: 20px;
}

.dtr-content p, .dtr-content ol, .dtr-content input, .dtr-content textarea, .dtr-content select, .dtr-content-borrow {
    font-size: 1.3em;
    font-style: normal;
    color: #333;
    font-weight: 300; 
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.3em;
}

textarea {
    resize: none;
}

.dtr-content a:link, .dtr-content a:visited {
    color: #333;
    font-weight: 300;
    background-color: #fff9bc;
}

.dtr-content a:hover {
    text-decoration: none;
    background-color: #FFF056;
    -webkit-transition: background 0.5s ease, padding 0.8s linear;
    -moz-transition: background 0.5s ease, padding 0.8s linear;
    -o-transition: background 0.5s ease, padding 0.8s linear;
    transition: background 0.5s ease, padding 0.8s linear;
}

.btn-lg {
    text-transform: uppercase;
    background-color: #fff8ab;
    color: #333;
    border-radius: 0px;
    padding: 10px 15px !important;
    border: 2px solid #333;
}

/* faq */
.dtr-content .qa {
    font-size: 1.3em;
    font-style: normal;
    font-variant: normal;
    color: #333; 
    margin-bottom: 20px;
    margin-top: 10px;
    line-height: 1.3em;
}

.question {
    font-weight: 400;
    margin-bottom: 5px;
}

.dtr-content .qa .answer {
     color: #333;
     font-weight: 300;
}

/* people */
.person-card a:link, .person-card a:visited, .person-card a:hover {
    color: #333;
    font-weight: 400;
}

.person-description {
    float: left;
    width: 65%;
}

.person-name {
    font-size: 2em;
    font-weight: 700px;
}
.person-title {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}

.person-bio {
    font-size: 1em;
    font-weight: 400;
}

.person-thumbnail {
    width: 180px;
    height: 180px;
    float: left;
    display: block;
    margin-right: 20px;
}

.person-card {
    max-width: 85%;
    color: #333;
    padding-bottom: 60px;
    overflow: hidden;
    clear: both;
    display: block;
    margin: 0 auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

/* media queries */
@media only screen and (max-width: 750px) {
    .person-card {
        padding-bottom: 40px;
    }

    .person-description {
        width: 100%;
    }

    .navbar-default .navbar-nav > li > a {
        width: 100%;
    }
}

/* projects */
.jumbotron {
    background-color: #fafafa !important;
}

.jumbotron h3 {
    border-bottom: none;
}

.jumbotron p {
    font-weight: 300;
}

.dtr-content h2 {
    font-weight: 600;
}

#projects a:link, #projects a:visited {
    color: #333 !important;
    font-weight: 600;
    background-color: #FFF056;
    padding: 10px;
}

.spacer { margin-top: 10px; }

.black p {
    color: #333 !important;
}

#team {
   color: #333 !important;
   border-bottom: 1px solid #333;
}

video.projects-banner {
    height: 574px;
}

.projects-banner {
    max-width: inherit;
    width: 100%;
    height: auto;
}

.project-image {
    max-width: inherit;
    width: 100%;
    height: auto;
}

.project-person-name {
    font-size: 1.2em;
}

.project-person-role {
    color: "lightgrey";
    margin-left: "20px";
}

a.project-publication-name {
    color: #333;
    font-weight: 300;
    background-color: #fff9bc;
}

a.project-publication:hover {
    text-decoration: none;
    background-color: #FFF056;
    -webkit-transition: background 0.5s ease, padding 0.8s linear;
    -moz-transition: background 0.5s ease, padding 0.8s linear;
    -o-transition: background 0.5s ease, padding 0.8s linear;
    transition: background 0.5s ease, padding 0.8s linear;
}

.form-group {
    margin-bottom: 0px;
}



.task {
    margin-left: 50px;
}

#btn-story-done {
    display: none;
    margin-top: 10px;
}

.checkbox {
    display: inline-block;
}

input[name="task"] {
    width: 60%;
    display: inline-block;
}

.select-points {
    display: inline-block;
    width: 50px;
}

.btn-claim, .btn-unclaim, .btn-initials {
    margin-left: 10px;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  /*line-height: 2.00;*/
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  /*line-height: 1.65;*/
  border-radius: 30px;
}

.btn-circle-unfilled {
    background-color: #fff;
    color: #2e6da4;
}

.form-control {
    margin: 5px 0px 5px 0px !important;
}

.form-vanish:not(:focus)/*:not(:hover)*/ {
    border: none;
    box-shadow: none;
    appearance: normal;
}

.select-points {
    -webkit-appearance: none;
}

.remove-task, .remove-story {
    color: #bbb;
    visibility: hidden;
}

.dummy-remove-task {
    visibility: hidden;
}

.task:hover .remove-task, .panel-story:hover .remove-story {
    visibility: visible;
}

.form-story {
    width: 80%;
}

.remove-story {
    position: absolute;
    top: 10px;
    right: 10px;
}

.panel-story {
    position: relative;
}

h2.h-light {
    font-weight: 300;
}

.own-task, .own-task input, .own-task select {
    background-color: #d9edf7;
}

/*.highcharts-container{width:100% !important; height:100% !important;}*/

.individual-points, .group-points {
    width: 100%;
    height: 145px;
}

.breakdown-name {
    text-align: center;
}

.points-badge {
    text-align: center;
    font-size: 48px;
}

.points-breakdown {
    text-align: center;
}

.breakdown {
    margin: 0px 5px 0px 5px;
}

.individual-points, .group-points {
    font-style: normal;
    color: #333;
    font-weight: 300; 
}

.hidden {
    visibility: hidden;
}

.dropdown-menu {
    padding: 10px;
}

.dropdown-menu button {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Edit Page Styles */

.profile-edit {
    color: #333;    
    font-weight: 600;
    padding-bottom: 10px;
    padding-top: 15px;
}

.profile-edit h1 {
    margin-bottom: 10px;
}

.profile-edit h4 {
    margin-bottom: 15px;
}

.profile-edit .person-thumbnail {
    margin-bottom: 10px;
}

.profile-edit input[type=text], .profile-edit textarea {
    border: 1px transparent;
    display: block;
    width: 100%;
    color: rgb(51, 51, 51);
}

.profile-edit input[type=text]:focus, .profile-edit textarea:focus {
    outline-offset: -3px;
    outline: #86827F auto 5px;
}

.profile-edit .form-group {
    margin-top: 20px;
    clear: both;
    overflow: hidden;
}

.profile-edit .form-group label {
    float: left;
    margin-right: 10px;
}

.profile-edit .form-group .surrounder {
    overflow: hidden;
}

.profile-edit .person-card {
    position: relative;
}

.profile-edit .person-card .glyphicon-remove {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
}

.making-new input, .making-new textarea{
    border: default;
}


/*.profile-edit .form-group > input {
    width: auto;
}*/

/*.profile-edit .person-name {
    font-size: 2em;
    font-weight: 700;
}

.profile-edit .person-title {
    font-size: 1.2em;
    font-weight: 300;
    text-transform: uppercase;
}*/