/* entire container, keeps perspective */
.flip-container {
    perspective: 1000;
    margin: 40px;
}
/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
    }

.flip-container, .front, .back {
    width: 360px;
    height: 360px;
    float: left;
    background: #f2992e;
    color: white;
    font-family:"Gibson","Helvetica Neue","HelveticaNeue",Helvetica,Arial,sans-serif;
}


/* flip speed goes here */
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;

    position: relative;
}

/* hide back of pane during swap */
.front, .back {
    backface-visibility: hidden;

    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
}