<template name="Projects">
  <div id="projects">

    {{#each sigs}}
    <div class="container">
		<div class="jumbotron dtr-content black">
			<h2>{{ title }}</h2>
			<img class="projects-banner" src="{{ banner }}"/>
			<p>{{ about }}</p>
			<div class="row">
				{{#each sig_project _id}}
					<div class="col-lg-6 col-md-6">
					  <h3><a class="proj_link" href="/projects/{{proj_id}}">{{ title }}</a></h3>
					  {{#if video}}
					  	<p>{{ learn_more video_about }}</p>
					  {{else}}
					  	<p>{{ learn_more about }}</p>
					  {{/if}}
					</div>
				{{/each}}
			</div>
			<div class="row">
			  <div class="col-lg-6 col-md-6">
			    <h3 class="black" id="team">Team</h3>
			    {{#each people_list}}
			    <div class="project-person-name">{{name}}</div>
			    {{/each}}
			  </div>
			</div>

		</div>
	</div>
    {{/each}}

  </div>
</template>


