<template name="sigSubmit">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="title">SIG Name</label>
            <div class="surrounder" style="margin-bottom: 0.5em">
                <input name="title" id="title" type="text" value="" placeholder="Full-length SIG name (e.g., Agile Research Studios)" required>
            </div>

            <label class="control-label" for="shortname">SIG Abbreviation</label>
            <div class="surrounder" style="margin-bottom: 0.5em">
                <input name="shortname" id="shortname" type="text" value="" placeholder="Abbreviation for SIG (e.g., ARS)" required>
            </div>

            <label class="control-label" for="about">About</label>
            <div class="surrounder" style="margin-bottom: 0.5em">
                <input name="about" id="about" type="text" value="" placeholder="Short description of what the SIG studies">
            </div>

            <label class="control-label" for="banner">SIG banner</label>
            <div class="surrounder" style="margin-bottom: 0.5em">
                <input name="banner" id="banner" type="text" value="" placeholder="Link to a banner image for the SIG">
            </div>
        </div>

        <input type="submit" value="Create SIG" class="btn btn-default btn-success" style="margin-top: 0.5em">
    </form>
</template>
