<template name="sigEdit">
    <div class="container project-edit">
        <div class="jumbotron">
            <form class="main form page">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3><label class="control-label" for="title">SIG Name</label></h3>
                        <div class="form-group">
                            <div class="surrounder">
                                <input name="title" id="title" type="text" value="{{title}}" placeholder="SIG Name" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3><label class="control-label" for="about">About</label></h3>
                        <div class="form-group">
                            <div class="surrounder">
                                <textarea name="about" rows=12 id="about" type="text"  placeholder="About" class="form-control">{{about}}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3><label class="control-label" for="banner">SIG banner</label></h3>
                        <div class="form-group">
                            <div class="surrounder">
                                <input name="banner" id="banner" type="text" value="{{banner}}" placeholder="Link to sig banner" class="form-control"/>
                            </div>
                        </div>
                    </div>
                </div>

    <!-- <div class="row"> -->
        <!--   <div class="col-lg-12 col-md-12"> -->
    <!--     <div class="form-group"> -->
    <!--       <label class="control-label" for="projects">Projects</label> -->
    <!--       {{#each sigProjectsList}} -->
    <!--       <div class="surrounder">	     -->
    <!-- 	<input name="projects" id="projects" value="{{_id}}" type="checkbox" checked/>   {{title}}</div> -->
    <!--       {{/each}} -->
    <!--       {{#each notSigProjectsList}} -->
    <!--       <div class="surrounder"> -->
    <!-- 	<input name="projects" id="projects" value="{{_id}}" type="checkbox"/> {{title}} -->
    <!--       </div> -->
    <!--       {{/each}} -->
    <!--     </div> -->
    <!--   </div> -->
    <!-- </div> -->
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <h3><label class="control-label" for="people">People</label></h3>
                        <div class="form-group">
                            {{#each sigPeopleList}}
                                <div class="surrounder">
                                    <input name="people" id="people" type="checkbox" value="{{_id}}" checked/> {{name}}
                                </div>
                            {{/each}}
                            {{#each notSigPeopleList}}
                                <div class="surrounder">
                                    <input name="people" id="people" type="checkbox" value="{{_id}}"/> {{name}}
                                </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
                <input type="submit" value="Submit edits" class="btn btn-primary submit"/>
                <hr/>
                <a class="btn btn-danger delete" href="#">Delete SIG</a>
            </form>
        </div>
    </div>
</template>
