<template name="sigSubmit">
    <form class="main form page">
        <div class="form-group">
            <label class="control-label" for="title">title</label>
            <div class="controls">
                <input name="title" id="title" type="text" value="" placeholder="SIG title" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="shortname">short name</label>
            <div class="controls">
                <input name="shortname" id="shortname" type="text" value="" placeholder="SIG short name" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="about">About</label>
            <div class="controls">
                <input name="about" id="about" type="text" value="" placeholder="About" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="banner">SIG banner</label>
            <div class="controls">
                <input name="banner" id="banner" type="text" value="" placeholder="Banner link" class="form-control"/>
            </div>
        </div>
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </form>
</template>
