<template name="Project">
    <div id="project">
        <div class="container">
            <div class="jumbotron">
                <h2>{{ title }}</h2>
                {{#if video}}
                    {{#if video_with_src}}
                        <video class="projects-banner" controls="controls" poster="{{ video_poster }}">
                            <source src="{{ video }}" type='video/mp4'/>
                        </video>
                    {{else}}
                        {{{video}}}
                    {{/if}}

                    <div class="paragraph"> {{{ video_about }}} </div>
                {{/if}}
                {{#if banner}}
                    <img class="projects-banner" src="{{ banner }}"/>
                    <div class="paragraph"> {{{ about }}} </div>
                {{/if}}
                <div class="row">
                    {{#each get_array images}}
                        <div class="col-lg-6 col-md-6" style="{{determine_clear index}}">
                            <div>
                                <img class="project-image" src="{{image_link}}"/>
                                <div>{{caption}}</div>
                            </div>
                        </div>
                    {{/each}}
                </div>
                {{#if publications}}
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <h3>Publications</h3>
                            {{#each publications}}
                                <div>
                                    <strong><a href="{{url}}" class="project-publication-name">{{title}}</a></strong>
                                    <em>, {{conference}} </em>
                                </div>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
                {{#if sprintvideos}}
                    <div class="row">
                        <div class="col-lg-9 col-md-9">
                            <h3>Sprint Videos</h3>
                            <div>
                                {{{ sprintvideos }}}
                            </div>
                            <div class="paragraph"></div>
                        </div>
                    </div>
                {{/if}}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h3>Team</h3>
                        {{#each people_list}}
                            <div><span class="project-person-name">{{name}}</span>
                                <!--<span class="project-person-role">{{role}}</span>-->
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
