<template name="projectEdit">
    <div class="container project-edit">
        <div class="jumbotron">
            <input name="title" type="text" class="proj-title normal-edit" value="{{title}}">
            <video class="projects-banner" controls="controls" poster="{{ video_poster }}">
                <source src="{{ video }}" type="video/mp4"/>
            </video>
            <div class="form-group">
                <label class="control-label" for="video-link">Link to Video: </label>
                <div class="surrounder">
                    <input class="normal-edit" name="video" id="video-link" type="text" value="{{ video }}" placeholder="Link to your video (optional)"/>
                </div>
                <label class="control-label" for="video-poster">Link to Video Preview Image: </label>
                <div class="surrounder">
                    <input class="normal-edit" name="video_poster" id="video-poster" type="text" value="{{ video_poster }}" placeholder="Link to your video preview image (optional)"/>
                </div>
            </div>
            <textarea class="normal-edit" name="video_about" rows="5" value="{{ video_about }}" placeholder="Enter the description you want displayed underneath your video"></textarea>
            <img class="projects-banner" src="{{ banner }}"/>
            <div class="form-group">
                <label class="control-label" for="banner-link">Link to Banner Image: </label>
                <div class="surrounder">
                    <input class="normal-edit" name="banner" id="banner-link" type="text" value="{{ banner }}" placeholder="Link to your banner image (not optional)"/>
                </div>
            </div>
            <textarea class="normal-edit" name="about" rows="5" value="{{ about }}" placeholder="Enter the description you want displayed underneath your banner image"></textarea>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <h3> Images </h3>
                </div>
            </div>
            <div class="row project-edit-lists images-edit">
                {{#each get_array images}}
                    <div class="col-lg-6 col-md-6" style="{{determine_clear index}}">
                        <img class="project-image" src="{{ image_link }}"/>
                        <div class="form-group">
                            <label class="control-label">Link to Image: </label>
                            <div class="surrounder">
                                <input data-purpose="image_link" data-index="{{ index }}" type="text" value="{{ image_link }}" placeholder="Link to your image"/>
                            </div>
                        </div>
                        <textarea rows="3" data-purpose="caption" data-index="{{ index }}" value="{{ caption }}"></textarea>
                        <span class="glyphicon glyphicon-remove" data-index="{{ index }}"></span>
                    </div>
                {{/each}}
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a id="images-add" href=""> + Add an image </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-md-9 project-edit-lists publications-edit">
                    <h3>Publications</h3>
                    {{#each publications}}
                        <div>
                            <strong>
                                <input data-purpose="title"  data-identifier="{{title}}" type="text" class="project-publication-name" value="{{title}}" placeholder="Publication name">
                                <em>,
                                    <input data-purpose="conference" data-identifier="{{title}}" type="text" value="{{conference}}" placeholder="Conference">
                                </em>
                            </strong>
                            <input data-purpose="url" data-identifier="{{title}}" type="text" value="{{ url }}" placeholder="Link to your publication"/>
                            <span class="glyphicon glyphicon-remove" data-title="{{title}}" data-conference="{{conference}}" data-url="{{url}}"></span>
                        </div>
                    {{/each}}
                    <a class="publication-add" href="">+ Add a publication </a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 project-edit-lists project-sprintVideos-edit">
                    <h3>Sprint Videos</h3>
                    <div class="form-group">
                        <label class="control-label" for="sprint-videos-link">Sprint Video Embed Code: </label>
                        <div class="surrounder">
                            <input class="normal-edit" name="sprintvideos" id="sprint-videos-link" type="text" value="{{ sprintvideos }}" placeholder="Your sprint video playlist embed code (optional)"/>
                        </div>
                    </div>
               </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 project-edit-lists project-team-edit">
                    <h3>Team</h3>
                    {{#each people}}
                        <div>
                            <span class="project-person-name">{{find_person this}}</span>
                            <!--            {{#unless teammate_is_current_user this}} -->
                            <span class="glyphicon glyphicon-remove" data-uid="{{this}}"></span>
                            <!--            {{/unless}} -->
                        </div>
                    {{/each}}
                    <form id="add-teammate-form">
                        <div class="form-group">
                            <label class="control-label" for="add-teammate-{{_id}}"> Add teammates: </label>
                            <div class="surrounder">
                                <input name="teammate" id="add-teammate-{{_id}}" class="add-teammate-input" type="text" placeholder="Enter teammate's username"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>
