<template name="login">
	<ul class='nav navbar-nav navbar-right'>
		<li id="login-dropdown-list" class="dropdown">
			{{#if loggedIn}}
				<a class="dropdown-toggle" data-toggle="dropdown">{{currentUser.username}}</a>
				<div class="dropdown-menu">
					<a href="/People/{{currentUser.username}}/edit"><button class="btn btn-primary col-sm-12" id="edit-profile">Edit Profile</button></a>
					<a href="/People/edit"><button class="btn btn-primary col-sm-12">Edit DTR Roster</button></a>
					<button class="btn btn-primary col-sm-12" id="logout-button">Log out</button>
				</div>
			{{else}}
				<a class="dropdown-toggle" data-toggle="dropdown">Log in</a>
				<div class="dropdown-menu">
					<form>
						<input id="login-username" type="text" placeholder="Username" class="form-control"/>
						<input id="login-password" type="password" placeholder="Password" class="form-control"/>
						<button class="btn btn-primary col-sm-12" id="login-buttons-password" type="submit">Sign in</button>
					</form>
				</div>
			{{/if}}
		</li>
	</ul>
</template>