<template name="Faq">
    <div class="dtr-content container" id="faq">
      <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-12">
      <h3>Frequently Asked Questions</h3>
      <div class='qa'>
        <div class='question'>When is DTR offered?</div>
        <div class='answer'>DTR is offered as a <a target="_blank" href="http://www.mccormick.northwestern.edu/eecs/courses/descriptions/315.html">EECS 315/497 course</a> every quarter. Students can start in any quarter. Most students choose to continue in DTR till they graduate.</div>
      </div>
      <div class='qa'>
        <div class='question'>When does DTR meet?</div>
        <div class='answer'>We meet for a single 3 hour meeting each week, and a separate one hour SIG meeting. The longer meeting is used mainly for hackathons, pair research, and demos. We require all students be able to make the longer meeting. The time for that meeting is scheduled by polling students to find the best mutually agreeable meeting time. Typically it's Thursday afternoon or Friday, but it really depends on everyone's schedule.</div>
      </div>
      <div class='qa'>
        <div class='question'>What is the right time to join DTR?</div>
        <div class='answer'>Whenever you are ready to grow. Most students join in Spring of their sophomore or junior year.</div>
      </div>
      <div class='qa'>
        <div class='question'>How many hours should I dedicate to DTR?</div>
        <div class='answer'>DTR is a hard class and will require at least 10 hours a week. Students joining DTR have the expectation that research is not a one week on, one week off endeavor, and instead requires making consistent progress and learning to be professional.</div>
      </div>
      <div class='qa'>
        <div class='question'>Can I take DTR as a fifth class?</div>
        <div class='answer'>Nope. DTR is a hard class and we don't recommend anyone taking more than four classes while one of them is DTR.
        </div>
      </div>
      <div class='qa'>
        <div class='question'>I am a CS/CE major. Does DTR count toward my major requirements?</div>
        <div class='answer'>DTR satisfies the project requirement & Interfaces depth requirement. Depending on the focus of the project you work on, you
          may be able to petition for DTR to count for other depth requirements (e.g., CogSys or Systems).</div>
      </div>
      <div class='qa'>
        <div class='question'>How do I know if I am well-prepared for DTR?</div>
        <div class='answer'>Students entering DTR typically have taken a good number of technical courses as well as a course in human computer interaction or user-centered design. Most students entering DTR have prior experience working on challenging personal or class projects. Students are not expected to have had prior research experience.</div>
      </div>
      <div class='qa'>
        <div class='question'>What are my chances of getting in?</div>
        <div class='answer'>Only one way to find out: <a href="/Apply">APPLY!</a></div>
      </div>
      <div class='qa'>
        <div class='question'>I have no experience with  ____(fill in the blank)____. Can I still apply?</div>
        <div class='answer'>Absolutely. We find that while prior experience matters, students who bring with them a growth mindset excel. Many of the current DTR students came in without knowing the technologies they build on. They learned by doing, failing, and doing again.</div>
      </div>
      <div class='qa'>
        <div class='question'>I have a question and it's not covered here. Who do I ask?</div>
        <div class='answer'>Get in touch with <a href="mailto:hq@northwestern.edu">Haoqi</a> or <a href="/People">anyone else in DTR</a>.</div>
      </div>

    </div>
      </div>
    </div>
</template>
