<template name="HowWeWork">
    <div class="dtr-content container" id="howwework">
        <!-- Text Content -->
        <div class="col-lg-8 col-lg-offset-2 col-md-12 padding-0">
            <div class="row">
                <h2>Design, Technology, and Research (DTR)</h2>
                <p>
                    The Design, Technology, and Research program is a supportive, collaborative community of designers, builders, and researchers focused on solving critical problems in the world. In DTR, we develop systems that shape new experiences with people and technology. We work at the intersection of human-computer interaction, social and crowd computing, learning science, artificial intelligence, and design. Our supportive community enables students to gain experience leading cutting-edge research and develop into self-directed designers, engineers, and researchers who are well-positioned to design solutions to address people’s needs, explore new technologies that capture our imagination, and challenge ourselves to advance the state of the art through research.
                </p>
            </div>

            <!-- Solving Hard Problems -->
            <div class="row">
                <h3>We are an interdisciplinary community working on solving hard problems.</h3>
                <div class="col-lg-12 col-md-12 padding-0">
                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Interdisciplinary Problem Solving</h4>
                            <p>
                                We work on designing, implementing, and testing systems that solve real-world problems by conducting interdisciplinary research, using methods and theories from social computing, crowdsourcing, human-centered design, psychology, learning sciences, artificial intelligence, and organizational behavior.
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-right" src="/images/howwework/problems-how.png" alt="...">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Communicating Research via Grants and Publications</h4>
                            <p>
                                Our undergraduates practice writing and submitting grant proposals for their work, and regularly receive funding though Undergraduate Research Grants for their projects. We publish research at conferences like CHI, CSCW, UIST, and HCOMP that make substantial contributions to a variety of academic disciplines. Our undergraduates regularly compete in student research competitions, often receiving awards for their research.
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-right" src="/images/howwework/problems-pyrus.png" alt="...">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Celebrating Work Process, Not Just Outcomes</h4>
                            <p>
                                We celebrate and emphasize work process over outcomes. Our students receive DTR certificates for working towards a submission, not for getting research published. Students reflect on their growth at the end of each quarter, and grade themselves on their effort and process, not the outcomes of their work. We believe that with strong process and continued practice comes great outcomes.
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-right" src="/images/howwework/problems-process.jpg" alt="...">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Training Students -->
            <div class="row">
                <h3>We train students to be self-directed researchers and mentors.</h3>
                <div class="col-lg-12 col-md-12 padding-0">
                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-left" src="/images/howwework/research-sccs.png" alt="...">
                        </div>

                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Rethinking Research Training</h4>
                            <p>
                                We rethink the roles of undergraduates and graduate students in research labs. Undergraduates learn to self direct through the whole research process, from research questions to writing a conference paper. Graduate students not only learn to self-direct through the research process, but also learn to mentor undergraduates by shadowing advisors in the first years to learn about mentoring and critique. We believe that by distributing support across the community, faculty can train more students in leading and mentoring research.
                            </p>
                        </div>
                    </div>


                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-left" src="/images/howwework/research-sig.png" alt="...">
                        </div>

                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Research Goal Setting Through Canvases and Sprints</h4>
                            <p>
                                We teach conceptual models of research and rigorous methodologies to help strengthen our expertise (e.g. design arguments, research canvases, synthesis trees, etc). We practice identifying the riskiest risks in our research and use agile methods to plan a slice of work that de-risks our research. We work in two-week sprints, where the sprint stories are conceived by students, rather than being assigned by mentors.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-left" src="/images/howwework/research-openhouse.png" alt="...">
                        </div>

                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Reflection and Growth</h4>
                            <p>
                                We conduct regular self-assessments, where students use guided reflections to think about both their project and personal growth. Students regularly meet with mentors to discuss their personal goals, and how they might work to achieve them.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Supportive Community -->
            <div class="row">
                <h3>We are a supportive, collaborative, playful community.</h3>
                <div class="col-lg-12 col-md-12 padding-0">
                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Help and Collaboration</h4>
                            <p>
                                We provide coordinated opportunities, such as <a href="http://pairresearch.io/" target="_blank">Pair Research</a> to offer and receive help with other students and faculty to overcome obstacles in our work. We believe every community member has areas of expertise that can be shared. Help-seeking from anyone in our 30 person studio is encouraged, in addition to the direct help from mentors and project teammates.
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-right" src="/images/howwework/community-uist.png" alt="...">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Research Mentoring</h4>
                            <p>
                                We meet once a week as a studio, providing students with opportunities to learn core research skills through lecture and practice. Students also take turns sharing their research and getting feedback from the DTR community. Students also meet with their special interest groups (SIGs) where they learn to plan research with their peers, grad student mentors, and faculty advisors. We believe that we can accelerate one anothers growth and learning by working together.
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-right" src="/images/howwework/community-circle.png" alt="...">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 padding-0">
                        <div class="col-lg-8 col-md-8 padding-0">
                            <h4>Building Community Outside the Lab</h4>
                            <p>
                                We have a strong culture of students and faculty gathering outside of class times. Every week, a passionate squad of board gamers meet, while a subset of the lab have started their own intramural ultimate frisbee team. Every quarter, we host four social events: 1) community potluck dinners at faculty homes, 2) social outings, which in the past has included ice skating, yoga, and escape rooms 3) a DTRager which starts with a Saturday evening party, and continues to a Sunday morning lab session of collective research work over catered breakfast and 4) a themed hackathon, where we spend a night playing with new tech.
                            </p>
                        </div>

                        <div class="col-lg-4 col-md-4 padding-0">
                            <img class="how-we-work align-right" src="/images/howwework/community-bbq.png" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
