<template name="sprintStory">
	<div class="panel panel-default panel-story">
		<div class="panel-body">
			<form class="main form page">
				<div class="form-group">
					<textarea name="story" id="story" class="form-control form-story form-vanish" placeholder="Add a user story" rows="1">{{description}}</textarea>{{autosize}}
					<span class="glyphicon glyphicon-remove remove-story" aria-hidden="true"></span>
					<div id="sortableList">
						{{#each tasks}}
							{{> sprintTask}}
						{{/each}}
					</div>
					<div class="task">
						<textarea name="task" type="text" placeholder="Add a task" class="form-control dtr-content form-add-task form-vanish" rows="1"></textarea>
					</div>
				</div>
			</form>
		</div>
	</div>
</template>