<template name="sprintTask">
	<div class="task {{#if ownTask this}}own-task{{/if}}">
    	
    	<span class="glyphicon glyphicon-resize-vertical reorder-task" aria-hidden="true"></span>
      	<textarea name="task" class="autoExpand form-control form-task form-vanish" placeholder="Describe your task" value="{{description}}" rows="1"></textarea>{{autosize}}
      	<span class="task-options">
	      	<span class="{{#if stage1}}hidden{{/if}}">{{stage1}}
		      	<select class="form-control dtr-content select-points form-vanish" id="select-points-{{_id}}">
			  		<option {{select1}}>1</option>
			  		<option {{select2}}>2</option>
			  		<option {{select3}}>3</option>
			  		<option {{select5}}>5</option>
			  		<option {{select8}}>8</option>
			  		<option {{select13}}>13</option>
			  	</select>
			  	<div href="" data-toggle="D" class="toggle-DTR btn btn-circle btn-circle-sm btn-primary {{#unless D}}btn-circle-unfilled{{/unless}}">D</div>
			  	<div href="" data-toggle="T" class="toggle-DTR btn btn-circle btn-circle-sm btn-primary {{#unless T}}btn-circle-unfilled{{/unless}}">T</div>
			  	<div href="" data-toggle="R" class="toggle-DTR btn btn-circle btn-circle-sm btn-primary {{#unless R}}btn-circle-unfilled{{/unless}}">R</div>
			</span>
			<span class="{{#unless stage3}}hidden{{/unless}}">
			  	{{#if ownTask this}}<div class="btn btn-circle btn-circle-sm btn-success btn-initials btn-unclaim active">{{initials userPerson}}</div>
			  	{{else}}{{#if available this}}<div class="btn btn-circle btn-circle-sm btn-success btn-initials btn-claim">{{initials userPerson}}</div>
			  	{{else}}
			  		{{#each this.people}}
			  			<div class="btn btn-circle btn-circle-sm btn-info btn-initials" disabled="disabled">{{initials this}}</div>
			  		{{/each}}
			  	{{/if}}{{/if}}
		  	</span>
		  	<span class="glyphicon glyphicon-remove remove-task" aria-hidden="true"></span>
		 </span>
	</div>
</template>