<template name="Vision">
    <div class="dtr-content container" id="vision">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div id="carousel-dtr" class="carousel slide" data-ride="carousel" data-interval="10000">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-dtr" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-dtr" data-slide-to="1"></li>
                        <li data-target="#carousel-dtr" data-slide-to="2"></li>
                        <li data-target="#carousel-dtr" data-slide-to="3"></li>
                        <li data-target="#carousel-dtr" data-slide-to="4"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/images/DSCF6751.jpg" alt="...">
                        </div>
                        <div class="item">
                            <img src="/images/DSCF6627.jpg" alt="...">
                        </div>
                        <div class="item">
                            <img src="/images/DSCF6634.jpg" alt="...">
                        </div>
                        <div class="item">
                            <img src="/images/DSCF6648.jpg" alt="...">
                        </div>
                        <div class="item">
                            <img src="/images/DSCF6671.jpg" alt="...">
                        </div>
                    </div>
                </div>
                <p class="font-small">photo credit: matthew zhang</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3>Design, Technology, and Research (DTR)</h3>
                <p>At DTR, we develop systems that shape new experiences with people and technology. We are designers, builders, and researchers. We are undergrads, grads, and faculty. We are a community who support one another, work hard together, learn together, laugh together, have a good time together, struggle together. We design solutions to address people’s needs, explore new technologies that capture our imagination, and challenge ourselves to advance the state of the art through research.</p>
                <p class="font-small">DTR  projects are made possible through generously support from National Science Foundation grants in <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1618096">Cyber-Human Systems</a>, <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1623635">Cyberlearning</a>, and <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1464315">the Research Initiation Initiative</a>; a <a href="http://fuse.microsoft.com/research/award">Microsoft FUSE Labs Research Award</a>; Northwestern's <a href="http://www.mccormick.northwestern.edu/alumni/murphy-society-awards/">Murphy Society Grant</a>; and Northwestern's <a href="http://www.northwestern.edu/provost/faculty-honors/digital-learning-fellowships/index.html">Office of the Provost Award for Digital Learning</a>.</p>
            </div>
        </div>
    </div>
</template>
