<template name="Vision">
  <div class="dtr-content container" id="vision">
    
    <div class="row">
      <div class="col-lg-8 col-md-8">
	<img src="/images/dtr-lab.jpg" class="img-responsive" alt="DTR students @ work">
      </div>
      <div class="col-lg-4 col-md-4">
	<h3>Design, Technology, and Research (DTR)</h3>
<br/>
	<p>
At DTR, we develop systems that shape new experiences with people and technology. We are designers, builders, and researchers. We are undergrads, graduate students, and faculty. We are a community who supports each other, who work hard together, learn together, laugh together, have a good time together, struggle together. We design solutions to address people’s needs, explore new technologies that capture our imagination, and challenge ourselves to advance the state of the art with honesty through research.
	</p>
      </div>
    </div>
  </div>
</template>
