<template name="applications">
    <div class="text-center">Here are applications. You can minimize stuff by clicking on a person's name or any of the section headers!</div>
    <br><br>
    {{#each applications}}
    <div class="person-card">
        <div class="person-description">
            <div class="person-name">
                <span class="master-collapser">{{name}}</span>
                (<a href="{{transcript}}">Tr</a>,
                <a href="{{resume}}">CV</a>,
                <a href="{{projectslink}}">Site</a>)
            </div>
            <div class="person-title">{{year}}, {{major}}</div>
            <strong>Class Count:</strong> {{classcount}}, <strong>Hours Available:</strong> {{hoursavail}}, <strong>Class Availability:</strong> {{classavail}}
            <div class="collapseable">
                <div class="spacer"></div>
                <strong class="collapser">WHY DTR:</strong>
                <div class="person-bio collapseable">
                    {{whydtr}}
                </div>
                <div class="spacer"></div>
                <strong class="collapser">HCI EXPERIENCE:</strong>
                <div class="person-bio collapseable">
                    {{hciexperience}}
                </div>
                <div class="spacer"></div>
                <strong class="collapser">CS EXPERIENCE:</strong>
                <div class="person-bio collapseable">
                    {{csexperience}}
                </div>
                <div class="spacer"></div>
                <strong class="collapser">INTERESTS:</strong>
                <div class="person-bio collapseable">
                    {{passions}}
                </div>
                <div class="spacer"></div>
                <strong class="collapser">PASSIONS:</strong>
                <div class="person-bio collapseable">
                    {{passions}}
                </div>
                <div class="spacer"></div>
                <strong class="collapser">LAST THING DONE FOR FUN:</strong>
                <div class="person-bio collapseable">
                    {{fun}}
                </div>
                <div class="spacer"></div>
                <strong class="collapser">CHALLENGING PROJECT:</strong>
                <div class="person-bio collapseable">
                    {{projectstory}}
                </div>
                <div class="spacer"></div>
                <strong class="collapser">INTERVIEW AVAILABILITY</strong>
                <div class="person-bio collapseable">
                    {{interviewavail}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</template>
