 <template name="personEdit">
  <div class="container profile-edit">
    <div class="person-card" id="person-{{person._id}}">
      <h1> Edit Profile </h1>
      <h4> Changes will be saved automatically. </h4>
      <img class="person-thumbnail" src="{{person.photoLink}}"/>
      <div class="person-description">
        <input name="name" type="text" class="person-name" value="{{person.name}}">
        <input name="role" type="text" class="person-title" value="{{person.role}}">
        <div class="spacer"></div>
        <!-- have this dynamically resize later -->
        <textarea name="description" class="person-bio" value="{{person.description}}" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label class="control-label" for="link">Link to Photo: </label>
        <div class="surrounder">
          <input name="photoLink" id="link" type="text" value="{{person.photoLink}}" placeholder="Link to your photo"/>
        </div>
      </div>
    </div>
    <div class="person-card">
      <h1> Projects </h1>
      <h4> All of these changes will also be saved automatically </h4>
      {{#each projects}}
        <div class="projects-list-item">
          <h4 span data-toggle="{{_id}}"><a href="">{{title}}</a></h4>
          <a href="/projects/{{shorten _id}}"><span title="Open up live project page!" class="glyphicon glyphicon-eye-open"></span></a>
          <span title="Open up project edit page" data-toggle="{{_id}}" class="glyphicon glyphicon-minus"></span>
          <span title="Delete project" data-toggle="{{_id}}" class="glyphicon glyphicon-remove"></span>
        </div>
        <div id="{{_id}}" style="display: none">
          {{> projectEdit}}
        </div>
      {{/each}}
      <!-- spice up this form a bit!  I got pretty lazy here...-->
      <form id="add-new-project-form">
        <div class="form-group">
          <h3 style="margin-bottom: 5px;"> Add a new project: </h3>
          <label class="control-label" for="add-new-project-name"> Choose project name: </label>
          <div class="surrounder">
            <input name="projectname" id="add-new-project-name" type="text" placeholder="Name (required, no special characters!)" required>
          </div>
          <label class="control-label" for="add-new-project-sig"> Choose project SIG: </label>
          <div class="surrounder">
            <input name="signame" id="add-new-project-sig" type="text" placeholder="SIG (required)" required>
          </div>
        </div>
        <button type="submit" class="btn btn-default btn-success" style="margin-top: 10px">Create project!</button>
      </form>
    </div>
  </div>
</template>
