@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme {
  --color-yellow: #fff056;
  --color-dark-yellow: #f5ed9c;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

html {
  background-color: #ffffff;
}

html,
body {
  font-family:
    var(--font-lato),
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-weight: 400;
}

.prose a,
.prose-lg a {
  color: rgb(55, 65, 81);
  font-weight: 400;
  background-color: #fff9bc;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
}

.prose li a,
.prose p a,
.prose-lg li a,
.prose-lg p a {
  padding-left: 0.15em;
  padding-right: 0.15em;
}

.prose a:hover,
.prose-lg a:hover {
  background-color: #f5ed9c;
}

.prose ul,
.prose-lg ul {
  list-style-type: disc;
}

.prose ol,
.prose-lg ol {
  list-style-type: decimal;
}

.prose h2,
.prose-lg h2 {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* Animated link underlining */
/* From: https://tailwindcomponents.com/component/link-underline-animation */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(black, black);
}

.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
}

/* For Loading Shimmer Effect */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background-size: 400% 100%;
  animation: shimmer 1.5s infinite linear;
}

/* Hide native WebKit search cancel button (blue X) globally */
input[type='search']::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
