<template name="changePassword">
    <div class="dtr-content container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">


                {{#if hasVerifiedEmail}}
                <h2>Change password</h2>
                <form id="change-password-form" class="main form page">
                  <input id="old-password" type="password" placeholder="Old Password" class="form-control"/>
                  <input id="new-password" type="password" placeholder="New Password" class="form-control"/>
                  <button class="btn btn-primary col-sm-12" id="change-password" type="submit">Change Password</button>
                </form>
                {{else}}

                <p>You need a verified email on file before changing your password (this way if you lose your password, we can recover it for you).</p>
<p>Please enter your email below to start the verification process. You will get an email with a link that once clicked will verify you.</p>

                <form id="add-email-form" class="main form page">
                    <input id="email" type="text" placeholder="Email" class="form-control"/>
                    <button class="btn btn-primary col-sm-12" id="add-email" type="submit">Send email verification link</button>
                </form>


                {{/if}}
            </div>
        </div>
    </div>
</template>
