<template name="createUser">
    <div class="dtr-content container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <h2>Add a user</h2>
                <form class="main form page">

                    <input id="create-name" type="text" placeholder="Full Name" class="form-control"/>
                    <input id="create-email" type="text" placeholder="Email" class="form-control"/>
                    <input id="create-username" type="text" placeholder="Username" class="form-control"/>
                    <input id="create-password" type="text" placeholder="Password" class="form-control"/>

                    <button class="btn btn-primary col-sm-12" id="create-user" type="submit">Create user</button>
                </form>
            </div>
        </div>
    </div>
</template>
