<template name="forgotPassword">
    <div class="container">
        <div class="col-sm-12">
            <h1>Password Recovery</h1>
            <p>Enter the email through which you recieved your account setup instructions. A password recovery email will be sent to that address.</p>
            <form>
                <input id="forgot-password-email" type="text" placeholder="Email" class="form-control"/>
                <button class="btn btn-primary" type="submit">Send email</button>
            </form>
        </div>
    </div>
</template>
