@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #ffffff;
}

html,
body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

.prose a,
.prose-lg a {
  color: rgb(55, 65, 81);
  font-weight: 400;
  background-color: #fff9bc;
  text-decoration: none;
  transition: background-color 150ms ease-in-out;
  padding-left: 0.1em;
  padding-right: 0.1em;
}

.prose a:hover,
.prose-lg a:hover {
  background-color: #f5ed9c;
}

.prose ul,
.prose-lg ul {
  list-style-type: disc;
}

.prose ol,
.prose-lg ol {
  list-style-type: decimal;
}

.prose h2,
.prose-lg h2 {
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

/* Animated link underlining */
/* From: https://tailwindcomponents.com/component/link-underline-animation */
.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 1px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(black, black);
}

.link-underline:hover {
  background-size: 100% 1px;
  background-position: 0 100%;
}
